{%load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/fontawsom-all.min.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->

  <title>My Profile</title>
  <link rel="shortcut icon" type="image/jpg" href="{% static 'image/blood.jpg' %}" />
  

</head>

<body>
  <header class="continer-fluid ">
    <div class="header-top">
      <div class="container">
        <div class="row col-det">
          <div class="col-lg-6 d-none d-lg-block">
            <ul class="ulleft">
              <li>
                <i class="far fa-envelope"></i>
                svengali@gmail.com
                <span>|</span>
              </li>
              <li>
                <i class="far fa-clock"></i>
                Service Time : 24/7
              </li>
            </ul>
          </div>

          <div class="col-lg-6 col-md-12">
            <ul class="ulright">
              <li>
                <i class="fas fa-user"></i>
                <a href="profile.html">Profile</a>
              </li>
              <li>
                <i class="fas fa-user"></i>
                <a href="{% url 'logout' %}">Logout</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <!-- head-part  -->

    <div id="menu-jk" class="header-bottom">
      <div class="container">
        <div class="row nav-row">
          <div class="col-md-3 logo">
            <!--<img src="static/image/blood.jpg" alt=""> -->
          </div>
          <div class="col-md-11 nav-col">
            <nav class="navbar navbar-expand-lg navbar-light">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="home.html">Home
                    </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="bloodbank">Bloodbank Info</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="search.html">Search</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="home.html#gallery">Gallery</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="home.html#process">Process</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="home.html#blog">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/About_us/">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="home.html#contact">Contact Us</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

  </header>


  <!-- Header -->
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 200px; background-image: url(static/image/1.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <!-- <span class="mask bg-gradient-default opacity-8"></span> -->
    <!-- Header container -->
    <div class="container-fluid  align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-10 ">
          <h1 class="display-2 text-white profile">Hello,    {{profile.Name}}</h1>
          <a style="margin-left: 30px;" href="editinfo.html" class="btn btn-info "> Edit profile</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">

              <div class="card-profile-image">
                <br>
                <br>
                <a href="#">
          
                
                   {% if user.profile.profile_img %}
                    <img src="{{profile.profile_img.url}}" class="rounded-Square">
                    <br>
                    <br>
                    {% else %}
                    <img src="{% static 'image/default.png' %}" width="240px">
                    <br>
                    <br>
                    {% endif %}
                 
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">

            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">



                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{profile.Name}}<span class="font-weight-light"></span>
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i> {{profile.District}}, {{profile.Area}}
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My account</h3>
              </div>
              <!-- <div class="col-4 text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Settings</a>
                </div> -->
            </div>
          </div>
          <div class="card-body">
            <form class="form_pd">
              <h6 class="heading-small text-muted mb-4">User information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-username">Full Name</label>
                      <input type="text" id="input-username" class="form-control form-control-alternative"
                        placeholder="Username" value="{{profile.Name}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Email address</label>
                      <input type="email" id="input-email" class="form-control form-control-alternative"
                        placeholder="Email" value="{{profile.Email}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-first-name">Date Of Birth</label>
                      <input type="text" id="input-first-name" class="form-control form-control-alternative"
                        placeholder="Date Of Birth" value="{{profile.Date_of_Birth}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Phone Number</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative"
                        placeholder="Phone Number" value="{{profile.PhoneNumber}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Gender</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative"
                        placeholder="Gender" value="{{profile.Gender}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Blood Group</label>
                      <input type="text" id="input-last-name" class="form-control form-control-alternative"
                        placeholder="Blood Group" value="{{profile.Blood_Group}}">
                    </div>

                  </div>
                </div>
              </div>
              <hr class="my-4">
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <!-- <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Address</label>
                        <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                      </div>
                    </div>
                  </div> -->
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-city">Division</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative"
                      placeholder="Division" value="{{profile.Division}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-country">District</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                      placeholder="District" value="{{profile.District}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group focused">
                    <label class="form-control-label" for="input-country">Area</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                      placeholder="Area" value="{{profile.Area}}">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative"
                      placeholder="{{profile.Postal_Code}}">
                  </div>
                </div>
              </div>

              <h6 class="heading-small text-muted mb-4">Health Information</h6>
              <div class="col-lg-4">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-city">Last Donation Date</label>
                  <input type="text" id="input-city" class="form-control form-control-alternative"
                    placeholder="Last Donation Date" value="{{profile.last_donate_date}}">
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group focused">
                  <label class="form-control-label" for="input-city">Any Disease</label>
                  <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="Any Disease"
                    value="{{profile.any_disease}}">
                </div>
              </div>
          </div>
          <!-- <hr class="my-4"> -->

         </form>

        </div>
      </div>
    </div>


    
     <!--*************** Footer  Starts Here *************** -->
  <style>
    /* .position {
      position: absolute;
      bottom: 0;
      left: 0;
    } */

    .profile {
      padding-left: 20px;
    }

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    .form_pd{
      padding-left: 15px;
    }
    .contact_pdding{
      padding-left: 35px;
    }

  </style>

    <div class="row content-ro" style="background-color: red; color: seashell;">
      <div class="col-lg-4 col-md-12 footer-contact ">
        <h2 class=" contact_pdding"> Contact Informatins</h2>
        <div class="address-row">

          <div class="detail contact_pdding">
            <p>74/A Green Rd, Dhaka 1205</p>
          </div>
        </div>
        <div class="address-row">

          <div class="detail contact_pdding">
            <p>svengali@gmail.com</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 footer-links">
        <div class="row no-margin mt-2">
          <h2>Quick Links</h2>
          <ul style="color:white;">
       
            <li><a href="home.html"> Home</li> </a>
            <li><a href="#about"> About Us</li> </a>
            <li><a href="#contact"> Contacts </li> </a>
            <li><a href="#gallery"> Gallery</li> </a>


          </ul>
        </div>



      </div>
      <div class="col-lg-4 col-md-12 footer-links">

        <div class="row no-margin mt-1">
          <h2 class="m-t-2">More Links</h2>
          <ul>
            <a href="http://facebook.com/">
              <li>Facebook</li>
            </a>
            <a href="https://www.youtube.com/">
              <li>Youtube</li>
            </a>
            <a href="https://www.instagram.com/">
              <li>Instagram</li>
            </a>
            <a href="https://twitter.com/">
              <li>Twitter</li>
            </a>


          </ul>
        </div>

      </div>
    </div>

  </div>


 


</body>

</html>